atomicwrites==1.1.5
attrs==18.1.0
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
more-itertools==4.3.0
numpy==1.15.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.5.4
pyparsing==2.2.0
pytest==3.7.1
python-dateutil==2.7.3
pytz==2018.5
six==1.11.0
