============================= test session starts ==============================
platform linux -- Python 3.5.2, pytest-3.6.0, py-1.5.3, pluggy-0.6.0 -- /home/dealleshouse/venv/stanford_algorithms/bin/python3
cachedir: .pytest_cache
rootdir: /mnt/c/SEI/Tools/src/algorithms/merge_sort/python, inifile:
collecting ... collected 5 items

merge_sort_test.py::test_null_does_not_throw PASSED                      [ 20%]
merge_sort_test.py::test_sorts_even_size_array PASSED                    [ 40%]
merge_sort_test.py::test_sorts_pre_sorted_array PASSED                   [ 60%]
merge_sort_test.py::test_sorts_odd_sized_array PASSED                    [ 80%]
merge_sort_test.py::test_sorts_large_array PASSED                        [100%]

=========================== 5 passed in 1.75 seconds ===========================
